body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 60px;
}

form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form > button {
    height: 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

form > button:hover {
    background-color: #0056b3;
}

.success-message {
    background-color: #0056b3;
    padding: 16px;
    color: white;
    display: none;
}

.error-message {
    background-color: red;
    color: white;
    font-size: 14px;
    margin-top: -9px;
    display: none;
}

input.error {
    color: red;
    border-color: red;
    outline-color: red;
}

input.success {
    color: green;
    border-color: green;
    outline-color: green;
}
